Source: cdb
Section: devel
Priority: optional
Maintainer: Nickolai Belakovski <nbelakovski@gmail.com>
Build-Depends: debhelper (>= 10), libreadline7, cmake, catch, libreadline-dev
Standards-Version: 4.1.2
Vcs-Git: https://github.com/nbelakovski/cdb.git

Package: cdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgcc1, libreadline7, libstdc++6
Description: A debugger for CMake files
  Simple for now, with great ambitions
